{% macro page_image(image, image_alt, caption_html="") %}
{% set c = 'c-page-image' %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="{{c}}-wrap animate">
        <div class="{{c}}">
          <img loading="lazy" src="{{ get_url(path=image) }}" alt="{{ image_alt }}">
        </div>
        {% if caption_html != "" %}
        <div class="{{c}}__caption">{{ caption_html | safe }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro page_image %}
